@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;400&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

.header-link{
    font-weight: thin;
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8
}
.sign-up-first-section {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color:#3882f6;
    color: #e5e7eb;
    font-weight: bolder;
    border-radius: 8px;
    border-color: #3882f6;
}

.content {
    display:flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 365px;
}

#header-pic {
    padding-bottom: 100px;
    margin-right: 220px;
}





#second-header {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 36px;
    margin: 40px;
}



.img-sect {
    border-radius: 8px;
   
}

.center-img-sect {
    display: flex;
    justify-content: center;
}

figcaption {
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-top: 10px;
    text-align:center;
}

.third-section {
    background-color:#e5e7eb;
    display: flex;
    justify-content: center;
    padding: 150px;
}

#quote {
    display: flex;
    margin-left: 100px;
    font-weight: lighter;
    font-size: 36px;
}

.third-sect-author {
    display: flex;
    margin-top: 200px;

}

#quote-author {
    font-weight: bolder;
    font-size: 20px;
}


.fourth-section {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    padding: 175px;

}

#call-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: #3882f6;
    width: 1100px;
    height: 150px;
    border-radius: 8px;
}

.call-header {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.sign-up-details {
    font-size: 14px;
    font-weight: 100;
    color: white;
   margin-left:50px;
   
}

.sign-up-button {
    margin-top: -30px;
    margin-bottom: 50px;
    margin-left: 800px;
    width: 125px;
    height: 32px;
    background-color:#3882f6;
    border-radius: 8px;
    border:thin solid;
    border-color: white;
    color: white;
}

.footer {
display: flex;
justify-content: center;
background-color: #1f2937;
padding: 20px;
color: white;
}

