@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;400&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

.header-link{
    font-weight: thin;
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8
}
.sign-up-first-section {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color:#3882f6;
    color: #e5e7eb;
    font-weight: bolder;
    border-radius: 8px;
    border-color: #3882f6;
}

.content {
    display:flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 365px;
}

#header-pic {
    padding-bottom: 100px;
    margin-right: 220px;
}





#second-header {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 36px;
}



.img-sect {
    border-radius: 8px;
}

.center-img-sect {
    display: flex;
    margin-top: 30px;
}